page-landing {
    ion-menu{
        .menu_overlay{
            position: absolute;
            z-index: 1;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.7);
        }
        .menu-inner{
            ion-content{
                background: black url(../assets/imgs/side_menu.png) no-repeat center!important;
                ion-item{
                    background:rgba(0,0,0,0)!important;
                    .item-inner{
                        color:white;
                    }
                }
            }
        }
    }
    .scroll-content{
        padding:0px!important;
        overflow: hidden!important;
        .logo_animated_container{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            height:101%;
            width:100%;
            background: black url(../assets/imgs/brands_and_colors.jpg) repeat 0 0;
            animation: slide 20s linear infinite;
            .overlay{
                background: rgba(0,0,0,0.6);
                width: 100%;
                height: 100%;
            }
            .logo_animated_img_container{
                top:0%;
                opacity:0;
                transition:top 3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 3s linear;
                width:100%;
                position: absolute;
                .logo_animated_img{
                    position: absolute;
                    left:50%;
                    transform: translate(-50%, -50%);
                    max-width:60%;
                }
                &.logo_animated_img_animate{
                    top:50%;
                    opacity:1;
                }
                &.logo_animated_img_animate_two{
                    animation: rubberBand 1s linear;
                }
            }
        }
    }        
    .button-inner{
        .camera_style{
            font-size:1.7em!important;
        }
    }
    @keyframes slide {
        from { background-position: 0 0; }
        to { background-position: -305px -1216px; }
    }
    @keyframes rubberBand {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }

      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }

      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
}