<ion-menu [content]="content" type="push">
  <div class="menu_overlay"></div>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let favoritePlace of favoritePlaces;let i = index;" ion-item>
        <h2 (click)="listingFavo(favoritePlace)">
          {{favoritePlace}}
        </h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content #content>
  <div class="logo_animated_container">
    <div class="overlay" style="background: rgba(0,0,0,0.6);width: 100%;height: 100%;"></div>
    <div class="logo_animated_img_container">
      <img class="logo_animated_img" src="assets/imgs/amer_logo.png" alt="">
    </div>
  </div>
  <ion-fab bottom right>
    <button ion-fab color="dark">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-button color="light" (click)="setLangAndDire({lang:'ar',dire:'rtl'})" clear>العربية</button>
      <button ion-button color="light" (click)="setLangAndDire({lang:'en',dire:'ltr'})" clear>English</button>
      <button ion-button color="light" (click)="menu_open()" clear>
        <ion-icon class="camera_style" name="heart"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>