page-favo-list {
    ion-card{
        ion-card-header{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal!important;
        }
        ion-row{
            ion-col{
                button{
                    ion-icon{
                        font-size:24px!important;
                    }
                }
            }
        }
    }
}
