<ion-header>

  <ion-navbar>
    <ion-title>{{ current_brand }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let place of current_brand_favo_places;let i = index;">
    <img *ngIf="checkAttachedUrl(i)" src="{{ place.attach_url }}"/>
    <ion-card-header>
      {{place.loc_name}}
    </ion-card-header>
    <ion-card-content>
      <ion-row>{{place.loc_address}}</ion-row>
      <ion-row>{{place.loc_phone}}</ion-row>
      <ion-row>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start (click)="goToMap(place)">
            <ion-icon name='pin'></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start icon-start (click)="deleteThisPlace(i)">
            <ion-icon name='trash'></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="danger" icon-start (click)="openCamera(i)">
            <ion-icon name='camera'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>