<ion-header>
  <ion-navbar>
    <ion-title>
      {{'home_page' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [ngStyle]={backgroundColor:brand.brand_background_color} *ngFor="let brand of brands" text-center (click)="check_this_brand(brand)">
      <img src="{{brand.brand_logo}}" alt=""> 
    </ion-item>
  </ion-list>
</ion-content>
