<ion-header>

  <ion-navbar>
    <ion-title>{{'map_place' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id='map' style='width: 100%; height: 100%;'></div>
  <ion-fab bottom right *ngIf="haveBrand">
    <button ion-fab mini (click)="saveAsFavorite()"><ion-icon name="heart"></ion-icon></button>
  </ion-fab>
</ion-content>
