page-brand {
    ion-select{
        width:100%!important;
        max-width:100%!important;
    }
    ion-card{
        ion-row{
            font-size: 20px;
            &.loc_name{
                font-size:16px;
                margin-bottom: 10px;
            }
        }
    }
}