<ion-header>

  <ion-navbar>
    <ion-title>{{page_data.brand_name | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngStyle]="{backgroundColor:page_data.brand_background_color}">
  <ion-card>
    <ion-item>
      <ion-select placeholder="{{ please_select_country_ph }}" [selectOptions]="country_select_options" [(ngModel)]="current_country_id"
        (ionChange)="collectCities()" okText="{{ choosed_keys.Okay }}" cancelText="{{ choosed_keys.Dismiss }}">
        <ion-option [value]="country_id" *ngFor="let country_id of page_data.countries_ids">
          {{country_id | country_name:names}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-select placeholder="{{ please_select_city_ph }}" [selectOptions]="city_select_options" [(ngModel)]="current_city" (ionChange)="collectPlaces()"
        okText="{{ choosed_keys.Okay }}" cancelText="{{ choosed_keys.Dismiss }}">
        <ion-option [value]="city" *ngFor="let city of current_cities;">
          {{city.loc_city_id | city_name:names:current_country_id}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-select placeholder="{{ please_select_place_ph }}" [selectOptions]="place_select_options" [(ngModel)]="current_place"
        okText="{{ choosed_keys.Okay }}" cancelText="{{ choosed_keys.Dismiss }}">
        <ion-option [value]="place_id" *ngFor="let place_id of current_places;">
          {{place_id.loc_name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="current_place">
    <ion-card-header>
      details
    </ion-card-header>
    <ion-card-content>
      <ion-row class="loc_name">
        {{current_place.loc_name}}
      </ion-row>
      <ion-row>
        {{current_place.loc_address}}
      </ion-row>
      <ion-row *ngIf="current_place.loc_phone">
        <ion-item text-right>
          <ion-icon name="call"></ion-icon>
          {{current_place.loc_phone}}
        </ion-item>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row *ngIf="current_place">
      <ion-col col-6 offset-6 text-right>
        <button ion-button color="light" outline item-start icon-start (click)="showOnMap()">
          <ion-icon name="pin"></ion-icon>
          Show on Map
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>