ion-alert{
    .alert-wrapper{
        .alert-button-group{
            button{
                padding:5px!important;
            }
        }
    }
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/Nunito-Regular.ttf');
}